{% extends 'website/index.html' %}
{% block content %}
    {% load static %}
    {% if is_open %}
        {% if has_voted %}
            <div class="container bg-warning">
                <h1>Unavailable</h1>
                <p>You have already voted for this rushee</p>
            </div>
        {% else %}
            <div class="container-fluid" style="height: 100%">
                <div class="row h-100" style="height: 100%">
                    <p>Click on the desired otter (1-5) to enter your vote</p>
                    <form method="post">
                        {% csrf_token %}
                        <div class="row mh-100">
                            <div class="col-1"></div>
                            <div class="col-lg-2">
                                <input class="d-inline img-fluid h-50" name="star_1" id="star_1" type="image" src="https://res.cloudinary.com/texasakpsi/image/upload/v1568091177/otters/otter-face-angry_izh7bp.png">
                                <p class="text-muted text-center">1</p>
                            </div>
                            <div class="col-lg-2">
                                <input class="d-inline img-fluid h-50" name="star_2" id="star_2" type="image" src="https://res.cloudinary.com/texasakpsi/image/upload/v1568091177/otters/otter-face-sad_ih8bkr.png">
                                <p class="text-muted text-center">2</p>
                            </div>
                            <div class="col-lg-2">
                                <input class="d-inline img-fluid h-50" name="star_3" id="star_3" type="image" src="https://res.cloudinary.com/texasakpsi/image/upload/v1568091177/otters/otter-face-bored_smczbg.png">
                                <p class="text-muted text-center">3</p>
                            </div>
                            <div class="col-lg-2">
                                <input class="d-inline img-fluid h-50" name="star_4" id="star_4" type="image" src="https://res.cloudinary.com/texasakpsi/image/upload/v1568091177/otters/otter-face-happy_d0hrxe.png">
                                <p class="text-muted text-center">4</p>
                            </div>
                            <div class="col-lg-2">
                                <input class="d-inline img-fluid h-50" name="star_5" id="star_5" type="image" src="https://res.cloudinary.com/texasakpsi/image/upload/v1568091177/otters/otter-face-celebrate_kspgok.png">
                                <p class="text-muted text-center">5</p>
                            </div>
                            <div class="col-1"></div>
                        </div>
                    </form>
                </div>
            </div>
        {% endif %}
    {% else %}
        <div class="container bg-warning">
            <h1>Unavailable</h1>
            <p>Voting is not yet opened.</p>
        </div>
    {% endif %}
{% endblock %}