<div class="container-fluid bg-dark">
    {# Everything for the footer goes here#}
    <div class="row">
        <div class="col-sm">
            <div class="row">
                <div class="col-lg-2">
                    <h4 class="text-secondary">Follow AKPsi</h4>
                    {% load static %}
                    <a href="https://www.linkedin.com/company/19256058" target="_blank"><img src="{% static 'mysite/linkedin.svg' %}" width="50" class="d-inline-block align-center"></a>
                    <a href="https://www.facebook.com/groups/2017047651878857/" target="_blank"><img src="{% static 'mysite/facebook.svg' %}" width="50"  class="d-inline-block align-center"></a>
                    <a href="https://www.instagram.com/texasakpsi/" target="_blank"><img src="{% static 'mysite/instagram.svg' %}" width="50" class="d-inline-block align-center"></a>
                </div>
                <div class="col-lg-2">
                    <h4 class="text-secondary">Useful Websites</h4>
                    <a href="https://www.texasakpsi.com" target="_blank"><img src="{% static 'mysite/texasakpsi.png' %}" width="50" class="d-inline-block align-center"></a>
                    <a href="https://www.utexas.edu" target="_blank"><img src="{% static 'mysite/shield.png' %}" width="50" class="d-inline-block align-center"></a>
                    <a href="https://www.mccombs.utexas.edu/" target="_blank"><img src="{% static 'mysite/mccombs.png' %}" width="50" class="d-inline-block align-center"></a>
                </div>
            </div>
        </div>
        <div class="ml-auto col-auto text-secondary" style="align-self: center">
                <p>Icons made by
                <a  href="https://www.flaticon.com/authors/freepik" target="_blank" title="Freepik">Freepik</a>
                from
                <a href="https://www.flaticon.com/" target="_blank" title="Flaticon">www.flaticon.com</a>
                is licensed by
                <a href="http://creativecommons.org/licenses/by/3.0/"
                   target="_blank" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
                <p>Website designed by <a href="https://www.linkedin.com/in/joao-john-rangel/" target="_blank">Joao</a> P Rangel (F2K18)
        </div>
    </div>
</div>