<iframe class="embed-responsive"
    src="https://calendar.google.com/calendar/b/2/embed?height=300&amp;
    wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FChicago&amp;src=dXRha3BzaUBnbWFpbC5jb20&amp;
    src=ajlzNjZwNXM1N2tsMDFiNGQwbjkwMmxsODhAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;
    src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%237986CB&amp;
    color=%23E4C441&amp;color=%23C0CA33&amp;showTitle=1&amp;showNav=1&amp;showDate=1&amp;
    showPrint=0&amp;showTabs=0&amp;showCalendars=1&amp;showTz=1"
    style="border-width:0"
    width="300" height="300" frameborder="0" scrolling="no"></iframe>
<iframe class="embed-responsive"
    src="https://calendar.google.com/calendar/b/2/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;
    ctz=America%2FChicago&amp;src=dXRha3BzaUBnbWFpbC5jb20&amp;
    src=ajlzNjZwNXM1N2tsMDFiNGQwbjkwMmxsODhAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;
    src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%237986CB&amp;
    color=%23E4C441&amp;color=%23C0CA33&amp;showTz=0&amp;showTabs=0&amp;showPrint=0&amp;
    showDate=0&amp;showNav=0&amp;mode=AGENDA&amp;showTitle=0&amp;showCalendars=1"
    style="border-width:0" width="300" height="450" frameborder="0" scrolling="no"></iframe>
